	*{
			box-shadow:border-box;
		}
		
		body{
			  font-family: Arial, Helvetica, sans-serif;
			  margin:0px;
		}
		
		.login{
			/*background-color: #f5f5f5;
			height:200px;
			width:20px
			display:flex;
			justify-content:center;
			align-items:center;*/
		}
		
		h3 {
			margin:0px;
			margin-left:10px;
			margin-top:50px;
			text-align:center;
			color:#A6A6A6;

		}
		
		.user{
			border:none;
			border:1px solid #A6A6A9;
			border-radius:2px;
			height:27px;
			margin-left:10px;
			margin-top:15px;
			font-weight:500;

		}
		
				.pass{
			border:none;
			border:1px solid #A6A6A9;
			border-radius:2px;
			height:27px;
			margin-left:10px;
			margin-top:15px;
			font-weight:500;

		}
		
				.user:focus{
			outline:none;
			outline:1px solid #e0e0e0;
			background-color:#f5f5f5;
			width:190px;
		}
		
				.pass:focus{
			outline:none;
			outline:1px solid #e0e0e0;
			background-color:#f5f5f5;
			width:190px;
		}
		
		.loginbtn, .register {
			margin-top:17px;
			border:none;
			border-radius: 2px;
		}
		
		.loginbtn{
			margin-right:20px;
			margin-left:20px;
			background-color: #51AB75;
			color:white;
			height:30px;
			width:70px;
		}
		
		.register {
			margin-left:27px;
			margin-right:8px;
			background-color: #6088E6;
			color:white;
			height:30px;
			width:70px;
		}
		
		.loginbtn:hover{
			background-color:#378F4F;
		}

		.loginbtn:active{
			background-color:#378F4F;
		}
		
				. register:hover{
			background-color:#378F4F;
		}

		. register:active{
			background-color:#378F4F;
		}
		
		
		
		a{
			text-decoration: none;
		}
		
		input {
			padding: 3px 10px;
		}
